<h2>New Celebrity</h2>

<form action="/celebrities/create" method="POST">


<label>name</label>
<input name="name" type="text" placeholder="Nombre">

<label>occupation</label>
<input name="occupation" type="text" placeholder="ocupación">

<label>catchPhrase</label>
<input name="catchPhrase" type="text" placeholder="Frase">

<button type="submit">Enviar</button>
</form>